.frog {
  position: absolute;
  width: 30px;
  height: 20px;
  background: #0e4b10; 
  border-radius: 50% 50% 0 0;
  top: 65%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 4;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}


.frog::before,
.frog::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  top: 30%;
}

.frog::before {
  left: 25%;
}

.frog::after {
  right: 25%;
}

.frog::before::after,
.frog::after::after {
  content: '';
  position: absolute;
  width: 19px;
  height: 19px;
  background: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frog::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #158519;
  border-radius: 50%;
  bottom: -55px;
  left: 10%;
  box-shadow: -10px 0 0 #4CAF50;
}

.frog::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #158519;
  border-radius: 50%;
  bottom: -55px;
  right: 10%;
  box-shadow: 10px 0 0 #4CAF50;
}